body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.jumbotron {
  background-image: url("./images/coverPhoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
}

.title {
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: 2px;
  text-decoration-style: none;
  color: #222;
}
